@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Permanent+Marker&family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap");
.mainSingIn .botones__log, .form--Indumentaria .formIndumentaria__agregar {
  font-weight: 900;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/*HEADER*/
.header {
  background-color: rgb(228, 180, 109);
}
.header .header__logo {
  font-family: "Roboto", sans-serif;
}
.header .header__logo h2 .kids {
  color: rgb(228, 61, 200);
  font-weight: 900;
}
.header .logo__titulo {
  font-size: 1.6rem;
}
@media all and (min-width: 1201px) {
  .header .cont__nav {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
  }
}

.enlace {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgba(196, 194, 194, 0.596);
  list-style-type: none;
  transition: 0.7s;
}
.enlace:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 25px;
  color: rgba(236, 154, 87, 0.945);
}

.menu {
  list-style-type: none;
  font-size: 0;
}

/*FOOTER*/
.footer {
  background-color: rgb(228, 180, 109);
}
.footer .footer__cont--img a img {
  cursor: pointer;
}
.footer .footer__cont--img a img:hover {
  transform: scale(1.1, 1.1);
}

/*INDEX*/
.btn__carrito {
  z-index: 20;
  margin-left: 85%;
  position: fixed;
  width: 12%;
}
@media all and (min-width: 768px) {
  .btn__carrito {
    margin-left: 92%;
    width: 7%;
  }
}
@media all and (min-width: 1200px) {
  .btn__carrito {
    margin-left: 93%;
    width: 5%;
  }
}

.cont__fondo {
  position: relative;
}
.cont__fondo p {
  width: 50%;
  text-align: right;
  font-size: 0.8rem;
  position: absolute;
  top: 30px;
  right: 10px;
  color: rgba(49, 49, 49, 0.74);
  font-weight: 900;
}
@media all and (min-width: 768px) {
  .cont__fondo p {
    font-size: 1.1rem;
    right: 30px;
  }
}
@media all and (min-width: 1130px) {
  .cont__fondo p {
    font-size: 1.8rem;
  }
}

.cont__titulo {
  background: linear-gradient(to right, rgb(228, 180, 109), rgba(196, 194, 194, 0.596) 100%);
}
.cont__titulo h2 {
  font-family: "Roboto", sans-serif;
}

.temporada__contenedorImg img {
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}
.temporada__contenedorImg img:hover {
  transform: scale(1.1, 1.1);
}
.temporada__contenedorImg img:hover {
  transform: scale(1.1, 1.1);
}
.temporada__contenedorImg img:hover {
  transform: scale(1.1, 1.1);
}

@media all and (min-width: 768px) {
  .footer__contenedorImagenes img {
    width: 5%;
  }
}
@media all and (min-width: 1200px) {
  #navbarToggleExternalContent {
    display: inline;
  }
}
/*NIÑAS*/
.cont__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}
.cont__modal--show {
  z-index: 10;
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.4s;
}
.cont__modal .modalContenedor {
  margin-top: 10%;
  width: 60%;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 2rem;
}
@media all and (min-width: 768px) {
  .cont__modal .modalContenedor {
    width: 40%;
  }
}
.cont__modal .botonModal {
  width: 175px;
  color: rgb(228, 61, 200);
  background-color: rgb(235, 235, 235);
  border: 2px solid rgba(49, 49, 49, 0.74);
  border-radius: 35px;
  transition: 1s;
}
.cont__modal .botonModal:hover {
  transform: scale(1.2, 1.2);
}

.body--modal {
  overflow: hidden;
}

.cont__btn button {
  border-radius: 20%;
  transition: 0.3s;
}
.cont__btn button:hover {
  transform: scale(1.1, 1.1);
}
.cont__btn button span {
  font-size: 30px;
  color: rgb(90, 160, 96);
}

.cont__btn--lila {
  align-items: top;
}

/*MUJER*/
.form--Indumentaria {
  font-family: "Roboto", sans-serif;
}
.form--Indumentaria .talle__boton input {
  width: 70px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: rgba(230, 228, 228, 0.89) solid 2px;
}
.form--Indumentaria .talle__boton input:focus {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.form--Indumentaria .compra__descuento {
  text-decoration: underline;
}
.form--Indumentaria .compra__porcentaje {
  text-decoration: underline;
}
.form--Indumentaria .formIndumentaria__agregar {
  border: rgba(236, 196, 122, 0.856) solid 3px;
  background-color: rgb(0, 0, 0);
  transition: 0.6s;
  color: rgb(255, 255, 255);
}
.form--Indumentaria .formIndumentaria__agregar:active {
  transform: scaleZ(1.3);
}
.form--Indumentaria .formIndumentaria__agregar:hover {
  transform: scale(1.1, 1.1);
}
.form--Indumentaria .contButton {
  right: 10px;
}
.form--Indumentaria .contButton .button__shop {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 30%;
  cursor: pointer;
  background-color: rgba(202, 202, 202, 0.966);
}
.form--Indumentaria .contButton .button__shop i {
  color: rgb(255, 255, 255);
}
.form--Indumentaria #carrito {
  width: 75%;
  height: 90%;
  top: 2.5%;
  left: 12.5%;
}

.contenedor__carrito {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 30px;
}

.cont__producto {
  height: 50%;
}

/* CARRITO */
.boton__carrito {
  font-size: 16px;
  min-width: 140px;
  font-weight: 600;
  padding: 12px 28px;
  color: #fff;
  background: #3483fa;
  transition: 1s;
}
.boton__carrito:hover {
  transform: scale(1.2, 1.2);
}

/*SING IN*/
.mainSingIn {
  font-family: "Roboto", sans-serif;
}
.mainSingIn .botones__log {
  border: 2px solid rgba(236, 196, 122, 0.856);
  background-color: rgb(0, 0, 0);
  transition: 0.6s;
  color: rgb(112, 161, 206);
}
.mainSingIn .botones__log:active {
  transform: scaleZ(1.3);
}
.mainSingIn .botones__log:hover {
  transform: scale(1.1, 1.1);
}
.mainSingIn .botones__registro {
  transition: 1s;
}
.mainSingIn .botones__registro:active {
  transform: scale(1.1, 1.1);
}
.mainSingIn .form__contInput input {
  padding-left: 10px;
  outline: none;
  border: solid 1px rgba(196, 194, 194, 0.596);
  transition: 1s;
  border-radius: 35px;
}
.mainSingIn .form__contInput input:focus {
  transform: scale(1.1, 1.1);
  border-color: rgba(49, 49, 49, 0.74);
}
.mainSingIn .form__contInput .error {
  border: solid 1.5px red;
  transform: scale(1.1, 1.1);
  transition: 1s;
}

.toastCheck {
  color: red;
}

/*CONTACTO*/
.mainCarrito {
  font-family: "Roboto", sans-serif;
}
.mainCarrito h1 {
  font-size: 50px;
}
.mainCarrito .carrito__cont--info {
  transition: 1s;
}
.mainCarrito .carrito__cont--info:hover {
  transform: scale(1.1, 1.1);
}

.formContacto__contenedor input {
  outline: none;
  border: solid 1px rgba(196, 194, 194, 0.596);
  transition: 1s;
}
.formContacto__contenedor input:focus {
  transform: scale(1.1, 1.1);
  border-color: rgba(49, 49, 49, 0.74);
}
.formContacto__contenedor textarea {
  outline: none;
  border: solid 1px rgba(196, 194, 194, 0.596);
  resize: none;
  transition: 1s;
}
.formContacto__contenedor textarea:focus {
  transform: scale(1.1, 1.1);
  border-color: rgba(49, 49, 49, 0.74);
}

.fotmContacto__boton {
  text-decoration: none;
  display: inline-block;
  background: rgb(143, 143, 143);
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.9s ease;
  box-shadow: -5px 1px 3px 0px rgba(236, 196, 122, 0.856);
  border-radius: 10px 30px;
  cursor: pointer;
}
.fotmContacto__boton:hover {
  background: rgb(182, 187, 182);
  color: rgb(126, 126, 126);
  box-shadow: none;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */